[Unit]
Description=Webradio

[Service]
ExecStart=/home/pi/webradio/app.js
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/webradio

[Install]
WantedBy=multi-user.target
